<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 1.数据库连接的4个信息单独指定一个文件 -->
    <properties resource="jdbc.properties"/>

    <settings>
        <!-- 全局性地开启或关闭所有映射器配置文件中已配置的任何缓存 -->
        <setting name="cacheEnabled" value="true"/>

        <!-- 延迟加载的全局开关。当开启时，所有关联对象都会延迟加载 -->
        <setting name="lazyLoadingEnabled" value="true"/>

        <!-- 开启时，任一方法的调用都会加载该对象的所有延迟加载属性。否则，每个延迟加载属性会按需加载 -->
        <setting name="aggressiveLazyLoading" value="fale"/>
    </settings>

    <!-- 2.起别名，指定实体类所在的包，不区分大小写,全限定类名也可以用 -->
    <typeAliases>
        <!-- <typeAlias type="com.ssm.mybatis.bean.User" alias="user"/> -->
        <package name="com.ssm.mybatis.bean"/>
    </typeAliases>



    <!-- 3.配置环境 -->
    <environments default="mysql">
        <!-- 配置mysql环境 -->
        <environment id="mysql">
            <!-- 事务类型 -->
            <transactionManager type="JDBC"></transactionManager>
            <!-- 数据源类型，有3种 -->
            <dataSource type="POOLED">
                <!-- 数据库连接的4个信息 -->
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 4.指定映射配置文件的位置，映射配置文件指的是每个dao独立的配置文件-->
    <mappers>
        <mapper resource="com/ssm/mybatis/dao/IUserDao.xml"/>
        <mapper resource="com/ssm/mybatis/dao/IAccountDao.xml"/>
        <mapper resource="com/ssm/mybatis/dao/IRoleDao.xml"/>

        <!-- 指定dao接口所在的包 package name="com.ssm.mybatis.dao"/ -->
        <!-- 使用注解的方式定义语句,不需要写mapper映射文件了 -->
        <!-- <mapper class="com.ssm.mybatis.dao.IUserDao"/ -->
    </mappers>


</configuration>